<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./vendor/autoload.php">

    <php>
        <ini name="memory_limit" value="-1"/>
        <server name="KERNEL_DIR" value="./vendor/victoire/victoire/Tests/App/app" />
    </php>

    <testsuites>
        <testsuite name="VacuumBundle Tests">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Pipeline</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./DependencyInjection</directory>
                <directory>./doc</directory>
                <directory>./Entity</directory>
                <directory>./Payload</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
